
<div class="container">
    <div class="row">

        <div class="col-sm">
            <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                  <button routerLink="/home" type="button" class="btn-block"><img src="../../assets/images/vet_03.png" alt="" width="70" height="110"></button><br><br>
                <!-- <button routerLink="/cadastro" type="button" style="font-size: medium;" class="btn btn-outline-success btn-lg btn-block">EDITAR</button><br><br>
                <button routerLink="/agendamento" type="button" style="font-size: medium;" class="btn btn-outline-success btn-lg btn-block">BUSCAR</button><br><br> -->
                <!-- <button routerLink='/consulta' type="button" style="font-size: medium;" class="btn btn-outline-success btn-lg btn-block">DELETAR</button> -->

            <!-- </div> -->
          <!-- </div> -->
        </div>

    <form #frm="ngForm" (ngSubmit)="submitForm(frm)" class="col-sm-10" style="margin-left: 60px;" >
      <input type="text" class="form-control" name="tutor_id" [ngModel]="tutor.tutor_id" hidden>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <br>
    <div style="text-align: center; background-size: 20px; background-color: rgb(32, 155, 87); margin-top: 0%;">
        <label style="margin-top: 9px; color: aliceblue;"><Strong>CADASTRO</Strong></label>
    </div>

    <div class="tutor" ><i id="face-icon" class="material-icons">face</i><label id="tutor" icon="glyphicon glyphicon-user"><Strong>TUTOR</Strong></label><hr></div>
    <div class="form-row">



      <div class="form-group col-md-6">
        <label for="name">NOME</label>
        <input {{tutor.name}} id="name" type="text" class="form-control" placeholder="Nome completo do Tutor" #nome="ngModel" name="name" [ngModel]="tutor.name" minlength="3"required>
      </div>
      <div class="form-group col-md-6">
        <label for="email">EMAIL</label>
        <input {{tutor.email}} id="email" type="email" class="form-control" placeholder="exemplo@email.com" #email="ngModel" name="email" [ngModel]="tutor.email" minlength="3" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="age">IDADE</label>
        <input {{tutor.age}} id="age" type="text" class="form-control" placeholder="Idade" #age="ngModel" name="age" [ngModel]="tutor.age" minlength="1" required>
      </div>
      <div class="form-group col-md-2">
        <label for="rg">IDENTIDDE</label>
        <input  {{tutor.rg}} id="rg" type="text" class="form-control" placeholder="RG" #rg="ngModel" name="rg" [ngModel]="tutor.rg" minlength="10" required>
      </div>
      <div class="form-group col-md-2">
        <label for="cpf">CPF</label>
        <input {{tutor.cpf}} id="cpf" type="text" class="form-control" placeholder="999.999.999-99" #cpf="ngModel" name="cpf" [ngModel]="tutor.cpf" minlength="14" required>
      </div>
      <div class="form-group col-md-2">
        <label for="phone">TELEFONE</label>
        <input {{tutor.phone}} id="phone" type="text" class="form-control" placeholder="(99) 99999-9999" #phone="ngModel" name="phone" [ngModel]="tutor.phone" minlength="3" required>
      </div>
      <div class="form-group col-md-2">
        <label for="nationality">NACIONALIDADE</label>
        <input {{tutor.nationality}} id="nationality" type="text" class="form-control" placeholder="Nacionalidade" #nationality="ngModel" name="nationality" [ngModel]="tutor.nationality" minlength="3" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="street">ENDEREÇO</label>
        <input {{tutor.street}} id="street" type="text" class="form-control"  placeholder="Rua" #street="ngModel" name="street" [ngModel]="tutor.street" minlength="3" required>
      </div>
      <div class="form-group col-md-3">
        <label for="district">BAIRRO</label>
        <input {{tutor.district}} id="district" type="text" class="form-control"  placeholder="Bairro" #district="ngModel" name="district" [ngModel]="tutor.district" minlength="3" required>
      </div>
      <div class ="form-gorup col-md-2">
        <label for="number">NÚMERO</label>
        <input {{tutor.number}} id="number" type="text" class="form-control" placeholder="Número" #number="ngModel" name="number" [ngModel]="tutor.number" minlength="1" required>
      </div>
      <div class ="form-gorup col-md-2">
        <label for="cep">CEP</label>
        <input {{tutor.cep}} id="cep" type="text" class="form-control" placeholder="CEP" #cep="ngModel" name="cep" [ngModel]="tutor.cep" minlength="8" required>
      </div>
      <div style="margin-top: 25px;"class="form-group col-md-6">
        <input id="name-cpf-tutor" type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Insira Nome ou CPF do tutor" #cpf="ngModel" name="cpf" [ngModel]="tutor.cpf" >
        <button (click)="carregarTutores(tutor.cpf)" class="btn btn-outline-success"  for="campo">BUSCAR</button>
      </div>
      <div style="margin-top: 25px;" class="form-group col-md-6">
        <input id="id-tutor" type="email" style="margin-bottom: 5px;" class="form-control" placeholder="Insira ID do tutor" #tutor_id="ngModel" name="tutor_id" [ngModel]="tutor.tutor_id" minlength="1" >
        <button (click)="editar(tutor.tutor_id)" class="btn btn-outline-success" for="campo">EDITAR</button>
      </div>
    </div>

    <hr>
    <div class="cidade" ><i id="place-icon" class="material-icons">place</i><label id="cidade"><Strong>CIDADE</Strong></label></div><hr>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="county">MUNICIPIO</label>
        <input {{tutor.city}} id="county" type="text" class="form-control" placeholder="Municipio" #county="ngModel" name="county" [ngModel]="tutor.county" minlength="3" required>
      </div>
      <div class="form-group col-md-6">
        <label for="state">ESTADO</label>
        <input {{tutor.state}} id="state" type="text" class="form-control" placeholder="Estado" #state="ngModel" name="state" [ngModel]="tutor.state" minlength="3" required>
      </div>
    </div><hr>
    <div class="pet" ><i id="pets-icon" class="material-icons">pets</i><label id="pet"><Strong>PET</Strong></label></div><hr>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="animal_name">NOME</label>
        <input {{animal.name}} id="animal_name" type="text" class="form-control" placeholder="Nome do Pet" #nomepet="ngModel" name="name" [ngModel]="animal.name" minlength="3" required>
      </div>
      <div class="form-group col-md-2">
        <label for="animal_age">IDADE</label>
        <input {{animal.name}} id="animal_age" type="text" class="form-control" placeholder="Idade do Pet" #agepet="ngModel" name="age" [ngModel]="animal.age" minlength="1" required>
      </div>
      <div class="form-group col-md-2">
        <label for="inputSex">SEXO</label>
        <select  {{tutor.sex}} id="inputSex" class="custom-select my-1 mr-sm-2">
          <option selected>Sexo...</option>
          <option>M</option>
          <option>F</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputSpecies">ESPÉCIE</label>
        <select {{tutor.specie}} id="inputSpecies" class="custom-select my-1 mr-sm-2">
          <option selected>Selecione...</option>
          <option>Cachorro</option>
          <option>Gato</option>
          <option>Periquito</option>
          <option>Papaguaio</option>
          <option>Rato</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="breed">RAÇA</label>
        <input {{tutor.breed}} id="breed" type="text" class="form-control" placeholder="Raça" #breed="ngModel" name="breed" [ngModel]="animal.breed" minlength="2"required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <div style="margin-top: 25px;">
              <input for="campo" id="name-animal" type="text" class="form-control" style="margin-bottom: 5px;" placeholder="Insira Nome animal" #name="ngModel" name="name" [ngModel]="animal.name" minlength="3" required>
              <button (click)="carregarAnimais(animal.animal_id)" class="btn btn-outline-success"  for="campo">BUSCAR</button>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div style="margin-top: 25px;" >
              <input id="tutor-id" type="email" style="margin-bottom: 5px;" class="form-control" placeholder="Insira ID do animal" #animal_id="ngModel" name="animal_id" [ngModel]="animal.animal_id" minlength="1">
              <button (click)="editarAnimal(animal.animal_id)" class="btn btn-outline-success" for="campo">EDITAR</button>
            </div>
        </div>
      </div>
    </div>

    <br><button type="submit" [disabled]="!frm.valid" class="btn  btn-outline-primary">REGISTRAR</button>

  </form>
 </div>
  <div class="form-group row">

    <label class="col-sm-2 col-form-label">Filter By:</label>

    <div class="col-sm-10">
      <input [(ngModel)]="carregarTutores" class="form-control">
    </div>

  </div>

  <table class="table table-striped">
    <thead>
    <tbody>
    <tr *ngFor="let tutor of carregarTutores">
      <td>{{ tutor.name }}</td>
<!--      <td>{{ tutor.email }}</td>-->
<!--      <td>{{ tutor.rg }}</td>-->
<!--      <td>{{ aniamal.name }}</td>-->
      <td>
      </td>

    </tr>
    </tbody>

  </table>

</div>
