
<h2>Agende a nova consulta!</h2>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()">
    <!-- <div class="form-group">
      <label for="name">Consulta_id</label>
      <input type="text" class="form-control" id="consulta" required [(ngModel)]="agenda.consulta_id" name="consulta">
    </div> -->
    <div class="form-row">
      <div class="form-group col-6">
        <label for="name">Identificador Tutor</label>
        <input type="text" class="form-control" id="tutor_id" required [(ngModel)]="agenda.tutor_id" name="tutor_id">
      </div>
      <div class="form-group col-6">
        <label for="name">Identificador Animal</label>
        <input type="text" class="form-control" id="animal_id" required [(ngModel)]="agenda.animal_id" name="animal_id">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-0">
        <label for="name">Data</label>
      </div>
      <div class="form-group col-md-2">
        <input type="date" class="form-control" id="date" required [(ngModel)]="agenda.date" name="date">
      </div>
      <div class="form-group col-md-1">
      </div>
      <div class="form-group col-md-1">
        <label >Horario Inicio</label>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="horain" required [(ngModel)]="agenda.horain" name="horain">
      </div>
      <div class="form-group col-md-1">
        <label></label>
      </div>
      <div class="form-group col-md-1">
        <label>Horario Final:</label>
      </div>
      <div class="form-group col-md-2">
        <input type="text" class="form-control" id="horaout" required [(ngModel)]="agenda.horaout" name="horaout">
      </div>
    </div>
    <br><br>
    <button type="submit" class="btn btn-outline-success">AGENDAR</button>
  </form>
</div>
