<!--<app-form-tutor></app-form-tutor>-->
<!--<div class="container mt-4">-->
<!--    <router-outlet></router-outlet>-->
<!--</div>-->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <label [routerLink]="['/api/tutor']" class="navbar-brand">Tutor Manager</label>-->

<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item">-->
<!--        <label [routerLink]="['/api/tutor']" routerLinkActive="active" class="nav-link">Tutores</label>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<div class="card">
  <div class="card-body">
    <button routerLink="/form-tutor" type="button" class="btn btn-outline-primary btn-lg btn-block">CADASTRAR TUTOR</button><br><br>
    <button routerLink="/form-animal" type="button" class="btn btn-outline-primary btn-lg btn-block">CADASTRAR ANIMAL</button><br><br>

    <button routerLink="/form-tutor" type="button" class="btn btn-outline-primary btn-lg btn-block">BUSCAR TUTOR</button><br><br>
    <button routerLink="/form-animal" type="button" class="btn btn-outline-primary btn-lg btn-block">BUSCAR ANIMAL</button><br><br>
<!--    <button routerLink='/consulta' type="button" class="btn btn-outline-primary btn-lg btn-block">CONSULTA</button>-->
  </div>
</div>
