<h2>TUTOR</h2>

<hr/>

<form #tutorForm="ngForm" *ngIf="tutor">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">NOME:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.name" required name="name" #tutorName="ngModel" [ngClass]="{'is-invalid': tutorName.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Nome inválido</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">IDADE:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.age" required name="age" #tutorAge="ngModel"
                [ngClass]="{'is-invalid': tutorAge.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Idade inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">RG:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.rg" required name="rg" #tutorRg="ngModel"
                [ngClass]="{'is-invalid': tutorRg.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">CPF:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.cpf" required name="cpf" #tutorCpf="ngModel"
                [ngClass]="{'is-invalid': tutorCpf.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">EMAIL:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.email" required name="email" #tutorEmail="ngModel"
                [ngClass]="{'is-invalid': tutorEmail.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>Inválido</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">NATIONALITY:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.nationality" required name="nationality" #tutorNationality="ngModel"
                [ngClass]="{'is-invalid': tutorNationality.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">PHONE:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.phone" required name="phone" #tutorPhone="ngModel"
                [ngClass]="{'is-invalid': tutorPhone.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <!-- <button [disabled]="tutorForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/tutors']" class="btn btn-secondary">Back</button> -->
</form>

<h2>ENDEREÇO</h2>

<hr/>

<form #tutorForm="ngForm" *ngIf="tutor">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">CEP:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.cep" required name="cep" #tutorCep="ngModel" [ngClass]="{'is-invalid': tutorCep.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Nome inválido</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">STREET:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.street" required name="street" #tutorStreet="ngModel"
                [ngClass]="{'is-invalid': tutorStreet.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>Idade inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">DISTRICT:</label>
        <div class="col-sm-10">
            <input [(ngModel)]="tutor.district" required name="district" #tutorDistrict="ngModel"
                [ngClass]="{'is-invalid': tutorDistrict.invalid}" class="form-control">

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">COUNTY:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.county" required name="county" #tutorCounty="ngModel"
                [ngClass]="{'is-invalid': tutorCounty.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">STATE:</label>
        <div class="col-sm-10">
            <textarea [(ngModel)]="tutor.state" required name="state" #tutorState="ngModel"
                [ngClass]="{'is-invalid': tutorState.invalid}" class="form-control"></textarea>

            <div class="invalid-feedback">
                <span>inválida</span>
            </div>
        </div>
    </div>


    <button [disabled]="tutorForm.invalid" (click)="save()" class="btn btn-primary mr-2">Save</button>
    <button [routerLink]="['/home']" class="btn btn-secondary">Back</button>
</form>
