<h3>Edite a Agenda!</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Identificador da Consulta</label>
          <input type="text" class="form-control" id="consulta" [(ngModel)]="agenda.consulta_id" name="consulta">
        </div>
        <div class="form-group col-md-4">
          <label for="name">Identificador do Tutor</label>
          <input type="text" class="form-control" id="tutor_id" [(ngModel)]="agenda.tutor_id" name="tutor_id">
        </div>
        <div class="form-group col-md-4">
          <label for="name">Identificador do Animal</label>
          <input type="text" class="form-control" id="animal_id" [(ngModel)]="agenda.animal_id" name="animal_id">
        </div>
      </div><br>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="name">Data da Consulta</label>
          <input type="date" class="form-control" id="date" required [(ngModel)]="agenda.date" name="date">
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-2">
          <label >Horario Inicio</label>
          <input type="text" class="form-control" id="horain" required [(ngModel)]="agenda.horain" name="horain">
        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-2">
          <label>Horario Final:</label>
          <input type="text" class="form-control" id="horaout" required [(ngModel)]="agenda.horaout" name="horaout">
        </div>
      </div>
      <br><br>
        <button type="submit" style='margin-right:16px' class="btn btn-success">EDITAR</button>
</form>
