<h3>
    Update Agenda
  </h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Consulta_id</label>
            <input type="text" class="form-control" id="consulta" [(ngModel)]="agenda.consulta_id" name="consulta">
          </div>
      
          <div class="form-group">
            <label for="name">tutor_id</label>
            <input type="text" class="form-control" id="tutor_id" [(ngModel)]="agenda.tutor_id" name="tutor_id">
          </div>
      
          <div class="form-group">
            <label for="name">animal_id</label>
            <input type="text" class="form-control" id="animal_id" [(ngModel)]="agenda.animal_id" name="animal_id">
          </div>
      
          <div class="form-group">
            <label for="name">date</label>
            <input type="text" class="form-control" id="date" [(ngModel)]="agenda.date" name="date">
          </div>
      
          <div class="form-group">
              <label for="name">horain</label>
              <input type="text" class="form-control" id="horain" [(ngModel)]="agenda.horain" name="horain">
            </div>
      
            <div class="form-group">
              <label for="name">horaout</label>
              <input type="text" class="form-control" id="horaout" [(ngModel)]="agenda.horaout" name="horaout">
            </div>
  <button style='margin-right:16px' class="btn btn-success">Submit</button>
  <button style='margin-right:16px' (click)="list()" class="btn btn-success">Back to Agenda</button>
  
  </form>
