<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-new-tab" data-toggle="tab" href="#nav-new" role="tab" aria-controls="nav-new" aria-selected="true">NOVA +</a>
    <a class="nav-item nav-link" id="nav-schedule-tab" data-toggle="tab" href="#nav-schedule" role="tab" aria-controls="nav-schedule" aria-selected="false">AGENDAMENTOS</a>
    <a class="nav-item nav-link" id="nav-update-schedule-tab" data-toggle="tab" href="#nav-update-schedule" role="tab" aria-controls="nav-update-schedule" aria-selected="false">EDITAR AGENDAMENTOS</a>
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-new" role="tabpanel" aria-labelledby="nav-new-tab"><br>
    <app-create-agenda></app-create-agenda>
  </div>
  <div class="tab-pane fade" id="nav-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab"><br>
    <app-list-agenda></app-list-agenda>
  </div>
  <div class="tab-pane fade" id="nav-update-schedule" role="tabpanel" aria-labelledby="nav-schedule-tab"><br>
    <app-update-agenda></app-update-agenda>
  </div>
</div>

