<div class="card" style="background-color: #198754;">
  <h3 class="card-body" style="text-align: center; color: rgb(255, 255, 255); font-weight: bolder; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">ATUALIZAR TUTOR</h3>
</div>

<!-- <form> -->
<div class="card" >
  <form #form="ngForm" class="card-body" >
  <div class="form-group">
    <label for="name">TUTOR ID</label>
    <input type="text" class="form-control" id="tutor_id" required [(ngModel)]="tutor.tutor_id" name="tutor_id">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">NOME</label>
      <input placeholder="Nome" type="text" class="form-control" id="name" required [(ngModel)]="tutor.name" name="name">
    </div>
    
    <div class="form-group col-md-6">
      <label for="name">IDADE</label>
      <input placeholder="Idade" type="text" class="form-control" id="age" required [(ngModel)]="tutor.age" name="age">
    </div>
    </div>
  
    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">CPF</label>
      <input placeholder="000.000.00-00" type="text" class="form-control" id="cpf" required [(ngModel)]="tutor.cpf" name="cpf">
    </div>

    <div class="form-group col-md-6">
      <label for="name">RG</label>
      <input placeholder="0000000-0" type="text" class="form-control" id="rg" required [(ngModel)]="tutor.rg" name="rg">
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">EMAIL</label>
      <input placeholder="exemplo@gmail.com" type="text" class="form-control" id="email" required [(ngModel)]="tutor.email"  name="email">
    </div>

    <div class="form-group col-md-6">
      <label for="name">TELEFONE</label>
      <input placeholder="(00)000000-0000" type="text" class="form-control" id="phone" required [(ngModel)]="tutor.phone" name="phone">
    </div>
  </div>
  
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">NACIONALIDADE</label>
      <input placeholder="Nacionalidade" type="text" class="form-control" id="nationality" required  [(ngModel)]="tutor.nationality" name="nationality">
    </div>

    <div class="form-group col-md-4">
      <label for="name">CIDADE</label>
      <input placeholder="Cidade" type="text" class="form-control" id="county" required [(ngModel)]="tutor.county" name="county">
    </div>
    

     <div class="form-group col-md-4">
       <label for="name">ESTADO</label>
       <input placeholder="Estado" type="text" class="form-control" id="state" required [(ngModel)]="tutor.state" name="state">
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">CEP</label>
      <input placeholder="00000.000" type="text" class="form-control" id="cep" required [(ngModel)]="tutor.cep" name="cep">
    </div>
    <div class="form-group col-md-6">
      <label for="name">BAIRRO</label>
      <input placeholder="Bairro" type="text" class="form-control" id="district" required [(ngModel)]="tutor.district" name="district">
    </div>
    </div>
    
    <div class="form-row">
    <div class="form-group col-md-9">
      <label for="name">RUA</label>
      <input placeholder="Rua" type="text" class="form-control" id="street" required [(ngModel)]="tutor.street" name="street">
    </div>
    <div class="form-group col-md-3">
      <label for="name">NÚMERO</label>
      <input placeholder="Nímero" type="text" class="form-control" id="number" required [(ngModel)]="tutor.number" name="number">
    </div>
    </div>

  <button [disabled]="form.invalid" style='margin-right:16px' type="submit" (ngSubmit)="onSubmit()" class="btn btn-success">ATUALIZAR</button>
  <button style='margin-right:16px' routerLink="/cadastro" class="btn btn-success">VOLTAR</button>
  
</form>
</div>